@import "headerfooter.css";

body {
  font-family: 'Oxygen', sans-serif;
  font-weight: lighter;
  margin: 0;
  height: 100%;
}

main {
  width: 70%;
  margin: auto;
}

h1{
  text-align: center;
  color: #B22222;
  font-weight: normal;
}

h2 {
  text-align: center;
  color: #A9A9A9;
  font-weight: normal;
  margin-bottom: 4%;
}

h3 {
  margin-bottom: 0.5em;
}

label {
  margin-bottom: 4%;
}

#forms {
  display: flex;
  justify-content: space-around;
}

#forms form {
  width: 150%;
}

#forms ul {
  margin: 0;
  padding: 0;
}

#forms li {
  display: block;
  margin: 2% 0;
}

#forms input {
  margin-right: 3%;
}

form {
  display: flex;
  flex-direction: column;
}

#formsDropdown {
  display: none;
}

#continue {
  display: flex;
  justify-content: center;
}

#continue a {
  margin-top: 10%;
  background-color: #B22222;
  text-decoration: none;
  color: white;
  padding: 0.5em;
}

#continue a:hover {
  color: #B22222;
  background-color: white;
  border: #B22222 solid 1px;
}

/*media queries*/
/*@media (max-width: 710px) {
#forms {
flex-direction: column;
}
form {
margin-bottom: 5%;
}
}*/

@media (max-width: 675px) {

  h1{
  font-size: 23px;
  }

  h2{
  font-size: 18px;
  text-align: left;
  margin-bottom: 10%;
  }

  #forms {
    display: none;
  }
  /*#forms li {
  margin-bottom: 1%;
  }*/
  #formsDropdown {
    display: flex;
    flex-direction: column;
  }
  form {
    margin-bottom: 5%;
  }
}
