.return {
  font-weight: normal;
  padding: 1rem;
  text-align: center;
}

a{
  text-decoration:none;
  color: #8A8A8A;
}

/*header*/
header {
  background-color: #A52A2A;
  padding: 1em 0.5%;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header img {
  width: 1.3em;
  height: 1.1em;
  position: relative;
  top: 2px;
}

header ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
}

header li {
  display: inline;
  padding: 0 0.5em;
}

#breadcrumb li {
  border-right: solid white 1px;
}

#breadcrumb li:last-child {
  border-right: none;
}

#account {
  display: flex;
  justify-content: flex-end;
}

/*footer*/
footer {
  background-color: #A52A2A;
  margin-top: 5%;
}

footer a {
  text-decoration: none;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 1em 0;
}

footer li {
  padding: 0% 0.5em;
  border-right: solid white 1px;
}

footer li:last-child {
  border-right: none;
}

footer a {
  color: white;
}

@media (max-width: 800px) {
  #breadcrumb {
    display: flex;
    flex-direction: column;
  }
  #breadcrumb li {
    border-right: none;
	padding-bottom: 2%;
	margin-bottom: 2%;
    border-bottom: solid white 1px;
  }
  #breadcrumb li:last-child {
    border-right: none;
  }
}
