@media (max-width: 1050px) {
  #homepage-main .projects {
    flex-wrap: wrap;
    flex-direction: column;
  }
  #homepage-main .project,
  #homepage-main .background,
  #homepage-main .project-info {
    display: flex;
  }
  #homepage-main .project-img {
    display: flex;
    flex: 0 0 40%;
    margin-right: 1em;
    flex-direction: column;
  }
  #homepage-main .project-img img {
    margin: 0;
  }
}

@media (max-width: 880px) {
  #homepage-main {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  #intro {
    width: 100%;
    padding: 6%;
  }
  #homepage-main .projects {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
  }
  #homepage-main .project,
  #homepage-main .background,
  #homepage-main .project-info {
    display: flex;
    flex-direction: column;
  }
  #homepage-main .project {
    flex: 0 1 50%;
    margin: 0;
  }
  #homepage-main .project:not(:last-of-type) {
    margin-right: 10px;
  }
  #homepage-main .project-img {
    display: block;
    margin-bottom: 1.5em;
  }
}

@media (max-width: 850px) {
  article {
    padding: 0 0.5rem;
  }
  section {
    margin-bottom: 2em;
  }
}

@media (max-width: 650px) {
  section {
    padding: 1em;
  }
  .other-projects .project {
    flex: 0 0 100%;
  }
  main {
    margin-bottom: 6em;
  }
  #homepage-main .projects,
  .other-projects .projects {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 2em;
  }
  #homepage-main .project:not(:last-of-type),
  .other-projects .projects {
    margin-right: 0px;
  }
  #homepage-main .project,
  .other-projects .project {
    margin: 0;
    margin-bottom: 2em;
  }
  .other-projects .project-img {
    display: block;
    margin-bottom: 1.5em;
  }
  .homepage-footer {
    left: 0;
    bottom: -3em;
  }

  .homepage-footer,
  .project-footer {
    padding: 0.5em 2em;
  }
  .homepage-footer ul {
    left: 0;
    flex-direction: column;
  }
  .header-left {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-left div {
    margin: 0;
    margin-bottom: 1em;
  }
  footer nav li {
    margin-bottom: 0.5em;
  }
}

@media (max-width: 545px) {
  .smaller {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .overview section {
    flex: 0 0 100%;
    border: none;
  }
  .overview section:not(:last-child) {
    border-bottom: solid 1px $cobaltBlue;
  }
  .figure-img {
    overflow-x: scroll;
  }
  figure img {
    width: 250%;
    height: auto;
  }
}

@media (max-width: 408px) {
  .smaller {
    width: 85%;
  }
  .other-projects .project,
  .other-projects .background,
  .other-projects .project-info {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 370px) {
  .other-projects {
    margin-bottom: 9em;
  }
  .project-footer {
    left: 0;
    bottom: -12em;
  }
  .project-footer ul {
    flex-direction: column;
  }
}

@media (max-width: 300px) {
  .header-left {
    flex-direction: column;
  }
}
