$cobaltBlue: #0047AB;
$boxShadow: #00357F;
$bgTransitionSpeed: 0.3s;
$whiteSmoke: #F8F9F7;

/* General */

* {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100%;
  font-family: 'Rubik', sans-serif;
  color: #606060;
  // overflow: auto;
  background: center url(../../src/images/diamond.svg);
  background-size: 51%;
  background-color: $whiteSmoke;
}

html {
  height: 100%;
}

a {
  color: $cobaltBlue;
  text-decoration: none;
  border-bottom: solid 1px $cobaltBlue;
}

a:hover {
  text-decoration: none;
  border-bottom: solid 1px transparent;
}

.link-underline-hide {
  text-decoration: none;
  border-bottom: solid 1px transparent;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: $cobaltBlue;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  opacity: 0.9;
  filter: alpha(opacity=90);
  box-shadow: 2px 2px 5px 0px $boxShadow;
}

header nav ul, footer nav ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}

footer {
  position: absolute;
  width: 100%;
  background-color: white;
}

.homepage-footer {
  bottom: 0;
}

footer nav ul {
  font-size: 0.8em;
  justify-content: flex-end;
}

.project-footer {
  position: absolute;
  bottom: -6em;
}

header nav li, footer nav li {
  margin: 0 1.5rem;
}

section {
  background-color: white;
  padding: 2em;
  margin-bottom: 3rem;
}

p, li {
  line-height: 1.7rem;
  margin-bottom: 1.3rem;
}

article, main:not(#homepage-main) {
  max-width: 50rem;
  margin: 0 auto;
}

main {
  margin-bottom: 4em;
}

pre {
  display: block;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  display: block;
  background-color: #F4F4F4;
  padding: 0 2em;
}

/* specific */

#homepage-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#homepage-body a {
  font-size: 1.2rem;
}

#homepage-body .homepage-footer a, .project-footer a {
  font-size: 0.9em;
}

#homepage-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  padding: 3em;
  box-shadow: -10px 10px 0px 0px $cobaltBlue;
  // TODO: Use JS to make the same height as projects
}

#name {
  font-size: 3.25rem;
  line-height: 4.5rem;
  color: $cobaltBlue;
  margin-bottom: 0.5em;
}

#about {
  // margin-top: 5em;
}

#about div {
 margin-top: 1.7em;
}

#email {
  font-weight: bold;
}

.projects {
  display: flex;
}

#homepage-main .projects {
  flex: 0 1 40%;
  // flex-wrap: wrap;
}

.project {
  position: relative;
  flex-direction: column;
  flex: 0 1 50%;
  padding: 5px;
  margin: 5px;
}

.project .type {
  font-size: 0.9rem;
}

.project img {
  margin-bottom: 1.5em;
  box-shadow: 2px 2px 5px 0px $boxShadow;
}

.div-link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $cobaltBlue;
  top: 0;
  left: 0;
  transition: all $bgTransitionSpeed ease;
}

.project-info {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  border: solid 1em white;
  background-color: white;
}

#homepage-main .project .project-name {
  font-size: 1.5rem;
}

.project-hover {
  top: 5px;
  left: 5px;
  transition: all $bgTransitionSpeed ease;
}

.fixed {
  position: fixed;
  top: 0px;
}

.overview {
  background-color: white;
  margin: 2em 0;
  border: solid 5px $cobaltBlue;
}

.overview h2 {
  margin: 0;
  margin-bottom: 5%;
}

.overview {
  display: flex;
  flex-wrap: wrap;
}

.overview section {
  flex: 0 0 50%;
  padding: 2em;
  color: #414141;
  font-weight: 500;
  margin: 0;
}

.overview section:nth-of-type(odd) {
  border-right: solid 1px $cobaltBlue;
}

.overview section:nth-of-type(-n+2) {
  border-bottom: solid 1px $cobaltBlue;
}

.overview ul {
  padding: 0 5%;
  margin: 0;
}

.overview li {
  margin: 0;
}

.links {
  padding: 0;
  list-style-type: none;
}

.smaller {
  display: block;
  width: 55%;
  // padding: 0.5rem;
  margin: 2em auto;
}

article h1 {
  margin-bottom: 0.3em;
}

article .type {
  font-style: italic;
}

figure {
  display: block;
  padding: 0.75em;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 0px $boxShadow;
  // width: 100%;
  margin: 3em 0;
}

figure img {
  border: solid 1px black;
}

.no-border {
  border: none;
}

figcaption, .caption {
  color: black;
  padding: 0.5em;
  // text-align: center;
  font-size: 0.9rem;
}

.other-projects {
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 5em;
}

.other-projects .projects {
  flex-wrap: wrap;
  flex-direction: row;
}
.other-projects .project, .other-projects .background, .other-projects .project-info {
  display: flex;
}
.other-projects .project, .other-projects .background {
  flex: 0 0 50%;
}
.other-projects .project-img {
  display: flex;
  flex: 0 0 40%;
  margin-right: 1em;
  flex-direction: column;
}
.other-projects .project-img img {
  margin: 0;
}

.empty {
  height: 50px;
  margin-bottom: 0.5rem;
}

.cobalt-blue {
  background-color: $cobaltBlue;
}

.gray {
  background-color: #606060;
}

@import 'responsiveness';
