/* General */

* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  font-family: 'Rubik', sans-serif;
  color: #606060;
  overflow: auto;
}

html {
  height: 100%;
}

a {
  color: #0047AB;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #0047AB;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

header nav ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}

header nav li {
  margin: 0 1.5rem;
}

section {
  margin-bottom: 3.7rem;
}

p, li {
  line-height: 1.7rem;
  margin-bottom: 1.3rem;
}

article, main {
  max-width: 50rem;
  margin: 0 auto;
  overflow: auto;
}

pre {
  display: block;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  display: block;
  background-color: #F4F4F4;
  padding: 0 2em;
}

/* specific */

#homepage {
  max-width: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#homepage a {
  font-size: 1.2rem;
}

#name {
  font-size: 3.25rem;
  line-height: 4.5rem;
  margin: 1rem 0;
  color: #0047AB;
}

#about {
  position: relative;
  top: 10rem;
}

#about ul {
  padding: 0;
  list-style-type: none;
}

#email {
  font-weight: bold;
}

.projects {
  display: flex;
}

#homepage .projects {
  flex: 0 0 40%;
  flex-wrap: wrap;
}

.project {
  // display: flex;
  flex-direction: column;
  flex: 0 1 45%;
  padding: 2%;
}

.fixed {
  position: fixed;
  top: 0px;
}

.overview {
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 1em;
  // margin-bottom: 2em;
}

.overview h2 {
  margin: 0;
}

.overview .info {
  display: flex;
  flex-wrap: wrap;
}

.overview ul {
  margin: 0;
  margin-top: 1.3em;
  margin-right: 5%;
  list-style-type: none;
  padding-left: 1em;
  color: #414141;
  font-weight: 500;
}

.project img {
  margin-bottom: 0.45em;
}

.type {
  font-size: 0.9rem;
}

.links {
  padding: 0;
  list-style-type: none;
}

.smaller {
  display: block;
  width: 55%;
  padding: 0.5rem;
  margin: 0 auto;
}

.caption {
  color: #949494;
  margin: 2rem 0;
  text-align: center;
  font-size: 0.9rem;
}

.other-projects {
  max-width: 65rem;
  margin: 0 auto;
}

.other-projects .project {
  display: flex;
  flex-direction: column;
  flex: 0 1 33%;
  padding: 0.75rem;
}

.empty {
  height: 50px;
  margin-bottom: 0.5rem;
}

.cobalt-blue {
  background-color: #0047AB;
}

.gray {
  background-color: #606060;
}

/*media queries*/

@media (max-width: 1043px) {
  .other-projects {
    padding: 0 1.5rem;
  }
}

@media (max-width: 901px) {
  .other-projects .project {
    flex: 0 1 33.3%;
  }
}

@media (max-width: 847px) {
  article {
    padding: 0 1.5rem;
  }
  #homepage {
    flex-direction: column;
    align-items: flex-start;
  }
  #about {
    top: auto;
  }
  #about-link {
    position: relative;
    top: 3rem;
  }
  #intro {
    margin-bottom: 1em;
    margin-left: 15%;
  }
}

@media (max-width: 674px) {
  #homepage {
    padding: 0 1.5rem;
    align-items: center;
  }
  #homepage .project {
    flex: 0 1 50%;
  }
  #intro {
    margin-left: 0;
  }
}

@media (max-width: 589px) {
  .other-projects .project {
    flex: 0 1 50%;
  }
}

@media (max-width: 545px) {
  .smaller {
    width: 70%;
  }
}

@media (max-width: 430px) {
  #homepage .project {
    flex: 0 1 100%;
    padding: 0;
  }
}

@media (max-width: 408px) {
  .other-projects .project {
    flex: 0 1 100%;
    padding: 0;
  }
  .smaller {
    width: 85%;
  }
}

@media (max-width: 300px) {
  header nav ul {
    flex-direction: column;
  }
}
